<!--15- Create the html for the response insted of only printing "Route 1" 
17-create the skeleton by writting" html" and then choosing the option html:5-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h1>The Users Page</h1> <!--18-Enter just dummy content-->
    <script src="/main.js"></script> <!-- 26-import here the alert with a script tag, no need to call the fulder as on the app at the "27-" it defines the public as default, but if it was within a subfolder, I would have to write it here on the path" -->
</body>
</html>